<div class="footer text-center">
  <div class="footer-copyright">
    <p><%= t('.made_with_love_html') %> <strong>Annamária</strong> & <strong>Lionel</strong></p>
    <p><%= t('.thanks_to_the_translators') %>: <strong>Eszter & Thierry</strong></p>
    <p><a href="mailto:annamaria.and.lionel@gmail.com" target="_top">annamaria.and.lionel@gmail.com</a></p>
  </div>
</div>
