<div class="footer">
  <div class="footer-copyright">
    <p><%= t('.made_with_love_html') %> <strong>Annamária</strong> & <strong>Lionel</strong></p>
    <p><%= t('.thanks_to_the_translators') %>: <strong>Thierry, Arooj</strong></p>
  </div>
</div>
