<div class="container">
  <div id = "clockdiv" class="profile text-center">
    <div class="stat">
      <div class="stat-content">
        <h3 class="days"></h3>
        <div class="smalltext"><p>Days</p></div>
      </div>
    </div>

    <div class="stat">
      <div class="stat-content">
        <h3 class="hours"></h3>
        <div class="smalltext"><p>Hours</p></div>
      </div>
    </div>

    <div class="stat">
      <div class="stat-content">
        <h3 class="minutes"></h3>
        <div class="smalltext"><p>Minutes</p></div>

      </div>
    </div>

    <div class="stat">
      <div class="stat-content">
        <h3 class="seconds"></h3>
        <div class="smalltext"><p>Seconds</p></div>
      </div>
    </div>

  </div>
</div>
