.avatar-md {
  height: 50px;
  width: 50px;
}

.avatar-lg {
  height: 80px;
  width: 80px;
}

.radius {
 border-radius: 50%;
}

.box-shadow {
  box-shadow: 1px 1px 1px rgba(200,200,200,0.8);
}

.avatar-x-lg {
  height: 150px;
  width: 150px;
}
