.banner {
  color: white;
  text-align: center;
  height: 110vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
  border-radius: 5px;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}

.banner .details {
  margin-top: 100px;
}

.banner h2 {
  font-size: 40px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.9;
  margin-bottom: 30px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
