.btn-treehouse {
  border-radius: 5px;
  background-color: #5BA69C;
  font-weight: bolder;
  padding: 11px 21px;
  color: white;
}

.btn-treehouse:hover {
  background-color: #259F6C;
  color: white;
}

.btn-small {
  font-size: 12px;
  padding: 10px;
}
