.inbox {
  border: 1px solid #dce0e0;
  padding: 0 20px;
  margin: 0;
}

.message {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}
.message:last-child {
  border-bottom: none;
}
.message-body {
  flex-grow: 1;
}
.message-name {
  flex: 0 0 25%;
  // padding-left: 25px;
  min-width: 100px;
}
.message-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
}
.message-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}
.message-body {
  padding-left: 20px;
  color: rgba(0,0,0,0.6);
  font-size: 15px;
}
.message-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.message-body p {
  margin: 6px 0;
}
.message-status {
  font-size: 14px;
  font-weight: bold;
}
.status.accepted {
  color: green;
}
.status.declined {
  color: red;
}
.status.pending {
  color: lightgrey;
}

@media(max-width: 600px) {
  .message {
    display: flex;
    flex-direction: column;
  }

  .message-name {
    margin-top: 10px;
  }
  .message-body {
    margin-top: 10px;
  }
  .message-status {
    margin-top: 10px;
  }
}
